.action-edit {
  width: 450px;
  margin: .2rem auto;
  padding-bottom: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrapper-edit {
  display: flex;
  justify-content: space-between;
}